* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ----Header--- */

header .navbar .container{ 
    background-color: #abc4ff;
}

.img_logo{
    height: 25px;
    margin: 10px;
}

h2 .logo{ 
    color: #3d3d3d;
    font-size: 1.2rem;
    transition: 1s;
}

.nav-link{
    color: black;
}

.nav-link:hover{
color: rgba(0, 0, 0, 0.307);
}

.link{
    color: #2667FF;
}

.link:hover{
    color: #3B28CC;
}

/* ----visualizacion 1200px navbar---- */
@media(min-width:1200px){
    .nav-link:hover{
        transform: scale(1.2);
    }
    .link:hover{
        transform: scale(1.2);
    }
}

/* --- PORTADA---- */

.titulo{
    font-size: 1rem;
    color: #3B28CC;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}


.contimg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.texto_portada{
    color: #3d3d3d;
    text-align: center;
}


/* titulo para resolucion 1200 */
@media (min-width:1200px){
    .titulo{
        font-size: 1.5rem;
        font-weight: normal;
    }
}

/* ----FOOTER--- */

.footer{
    background-color: #abc4ff;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.imgf{
    width: 20px;
}

.footer__etiqueta{
    font-size: 0.8rem;
    padding: 4px;
    color: #3B28CC;
    font-weight: bold;
}

/* -----VISUALIZACION FOOTER 1200PX----- */

@media(min-width:1200px){
    .footer{
        justify-content: space-around;
        height: 40px;
    }
    .imgf{
        width: 30px;
    }
    .footer__etiqueta{
        font-size: 1rem;
        font-weight: normal;
        color: #0a043b;
    }
    .footer__etiqueta :hover{
        transform: scale(1.2);
    }
}

/* ------PAGE NOSOTROS---- */

.container h2{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10px;
    color: #3B28CC;
    font-weight: bold;
}

.txtnos{
    font-size: 1rem;
    margin-top: 10px;
}

.tmp{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #0a043b;
}

.mapa{
    width: 250px;
    height: 250px;
    padding: 15px;
}

/* ---visualizacion 1200px para page nosotros--- */

@media(min-width:1200px){
    .imgnos{
        border-radius: 70px;
        padding: 20px;
    }

    .tmp{
        font-size: 1.2rem;
        color: #3B28CC;
    }

    .tmp:hover{
        transform: scale(1.1);
    }

    .mapa{
        width: 500px;
        height: 500px;
    }
}