* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "lora";
  src: url(../../assets/fonts/Lora-VariableFont_wght.ttf);
}
header .navbar .container {
  background-color: #abc4ff;
}

.img_logo {
  height: 25px;
  margin: 10px;
}

h2 .logo {
  color: #3d3d3d;
  font-size: 1.2rem;
  transition: 1s;
  font-family: "lora";
}

.nav-link {
  color: black;
  font-family: "lora";
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.307);
}

.link {
  color: #2667FF;
  font-family: "lora";
}
.link:hover {
  color: #3B28CC;
}

/* ----visualizacion 1200px navbar---- */
@media (min-width: 1200px) {
  .nav-link:hover {
    transform: scale(1.2);
  }
  .link:hover {
    transform: scale(1.2);
  }
}
.footer {
  background-color: #abc4ff;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__etiqueta {
  font-size: 0.8rem;
  padding: 6px;
  color: #3B28CC;
}

.imgf {
  width: 20px;
}

/* -----VISUALIZACION FOOTER 1200PX----- */
@media (min-width: 1200px) {
  .footer {
    justify-content: space-around;
    height: 40px;
  }
  .footer__etiqueta {
    font-size: 1rem;
    font-weight: normal;
    color: #0a043b;
  }
  .footer__etiqueta:hover {
    transform: scale(1.2);
  }
  .imgf {
    width: 30px;
  }
}
.adoptar__boton {
  color: black;
  font-weight: bold;
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.adoptar__boton:hover {
  transform: scale(1.2);
  transition: 1s;
}

.titulo {
  font-size: 1rem;
  color: #3d3d3d;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "lora";
}

.contimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index_img {
  max-width: 300px;
}

.texto_portada {
  color: #3d3d3d;
  text-align: center;
  font-family: "lora";
}

/* titulo para resolucion 1200 */
@media (min-width: 1200px) {
  .titulo {
    font-size: 1.5rem;
    font-weight: normal;
    color: #3d3d3d;
  }
  .index_img {
    max-width: 100vh;
  }
  .index_img:hover {
    transform: scale(1.1);
    transition: 1.4s;
    border-radius: 300px;
  }
}
.container h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
  color: #3d3d3d;
  font-family: "lora";
}

.txtnos {
  font-size: 1rem;
  margin-top: 10px;
  font-family: "lora";
}

.tmp {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #3d3d3d;
}

.mapa {
  width: 250px;
  height: 250px;
  padding: 15px;
}

@media (min-width: 1200px) {
  .imgnos {
    border-radius: 70px;
    padding: 20px;
  }
  .tmp {
    font-size: 1.2rem;
    color: #3d3d3d;
  }
  .tmp:hover {
    transform: scale(1.1);
  }
  .mapa {
    width: 500px;
    height: 500px;
  }
}
.tituload {
  font-size: 1.2rem;
  color: #3d3d3d;
  font-family: "lora";
}

.contarj {
  background: rgb(36, 34, 31);
  background: rgb(246, 241, 234);
  background: linear-gradient(41deg, rgb(246, 241, 234) 4%, rgba(38, 103, 255, 0.6922969017) 51%, rgba(246, 241, 234, 0.7203081062) 94%);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: "lora";
}

@media (min-width: 1200px) {
  .tituload {
    font-size: 1.5rem;
  }
  .contarj {
    background-color: #abc4ff;
    color: #3d3d3d;
    box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
    -webkit-box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
    -moz-box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
  }
  .contarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .adoptar__imagen {
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  .adoptar__imagen:hover {
    transform: scale(1.1);
    border-radius: 30px;
    transition: 1s;
  }
  .adoptar__nombre {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .adoptar__nombre__boton {
    color: black;
    font-weight: bold;
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  .adoptar__nombre__boton:hover {
    transform: scale(1.2);
  }
}
.imgdon {
  border-radius: 20px;
  max-width: 100%;
}

.txtdon {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "lora";
}

.titdon {
  text-align: center;
  font-family: "lora";
}

@media (min-width: 1200px) {
  .contdon {
    align-content: center;
    justify-content: center;
  }
  .imgdon {
    max-width: 100%;
    border-radius: 100px;
    width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
