.tituload {
    font-size: 1.2rem;
    color: $color-letra;
    font-family: "lora";

}

.contarj {
    background: rgb(36, 34, 31);
    background: rgb(246, 241, 234);
    background: linear-gradient(41deg, rgba(246, 241, 234, 1) 4%, rgba(38, 103, 255, 0.6922969016708246) 51%, rgba(246, 241, 234, 0.7203081061526173) 94%);
    padding: 10px;

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: "lora";
}


@media(min-width:1200px) {
    .tituload {
        font-size: 1.5rem;
    }

    .contarj {
        background-color: #abc4ff;
        color: $color-letra;

        box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
        -webkit-box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
        -moz-box-shadow: 10px 6px 5px -2px rgba(10, 10, 10, 0.72);
    }

    .contarjeta {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .adoptar__imagen {
        border-radius: 100px;
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .adoptar__imagen:hover {
        transform: scale(1.1);
        border-radius: 30px;
        transition: 1s;
    }

    .adoptar__nombre {
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .adoptar__boton {
        color: black;
        font-weight: bold;
        width: 100px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    .adoptar__boton:hover {
        transform: scale(1.2);
    }
}