.imgdon {
    border-radius: 20px;
    max-width: 100%;
}

.txtdon {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "lora";
}

.titdon {
    text-align: center;
    font-family: "lora";
}

@media(min-width:1200px) {

    .contdon {
        align-content: center;
        justify-content: center;
    }

    .imgdon {
        max-width: 100%;
        border-radius: 100px;
    }

}
