.titulo {
    font-size: 1rem;
    color: $color-letra;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "lora";
}


.contimg {
    @include flex (row, center, center);


}

.index_img {
    max-width: 300px;
}

.texto_portada {
    color: $color-letra;
    text-align: center;
    font-family: "lora";
}


/* titulo para resolucion 1200 */
@media (min-width:1200px) {
    .titulo {
        font-size: 1.5rem;
        font-weight: normal;
        color: $color-letra;
    }

    .index_img {
        max-width: 100vh;
    }

    .index_img:hover {
        transform: scale(1.1);
        transition: 1.4s;
        border-radius: 300px;
    }
}