.container h2 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10px;
    color: $color-letra;
    font-family: "lora";
}

.txtnos {
    font-size: 1rem;
    margin-top: 10px;
    font-family: "lora";
}

.tmp {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: $color-letra;
}

.mapa {
    width: 250px;
    height: 250px;
    padding: 15px;
}


@media(min-width:1200px) {
    .imgnos {
        border-radius: 70px;
        padding: 20px;
    }

    .tmp {
        font-size: 1.2rem;
        color: $color-letra;
    }

    .tmp:hover {
        transform: scale(1.1);
    }

    .mapa {
        width: 500px;
        height: 500px;
    }
}