.adoptar__boton {
    color: black;
    font-weight: bold;
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

&:hover {
    transform: scale(1.2);
    transition: 1s;
}
}