header .navbar .container {
    background-color: $color-principal;
}

.img_logo{
    height: 25px;
    margin: 10px;
}

h2 .logo {
    color: $color-letra;
    font-size: 1.2rem;
    transition: 1s;
    font-family:"lora";
}

